<!DOCTYPE html>

<html lang="en">
<head>

  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  
<!-- links -->
  <link rel="stylesheet" href="stylesheets/weather-icons.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified CSS -->
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" rel="stylesheet">
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/stylesheets/application.css" rel="stylesheet">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


  
<!-- scripts -->
  <script src="/javascript/es5-shim.min.js" type="text/javascript"></script>
  <script src="/javascript/es5-sham.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script src="/javascript/autocomplete.js" type="text/javascript"></script>
  <script src="/javascript/WhatsNearby.js" type="text/javascript"></script>

  <script src="/javascript/googleMap.js" type="text/javascript"></script>
  <script src="/javascript/application.js"></script>
  
  <title>
    Vakanz | <%= @city.name %>
  </title>
</head>

<body>
  <!-- search bar -->

<header>
  <div id="sticker_results">
    <div class="search2">
               <a href="/"><h4 class="logo-left"> <span><i class="fa fa-viacoin"></i></span>akanz</h4></a>
      <div class="container">

        <div class="row">

          <div class="col-md-11 col-md-offset-1">

            <div class="form-section">
              <div class="row">
                <form role="form" action="/search" method="GET">
                  <div class="col-md-8 col-sm-6 col-xs-8 col-md-offset-2 no-padding">

                    <div class="form-group">

                      <div class="ui-widget">
                        <label class="sr-only" for="location">Location</label>
                        <input class="form-control" id="location" name="location" 
                          placeholder= "Where would you like to go?" 
                          type="text"
                          <%= params[:location] && !params[:location].empty? ?
                              "value='#{params[:location]}'" : "" %>
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <button class="btn btn-default btn-primary" id="submit"
                    type="submit">Search</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

   <br><div class="container">

 <div class="top_space">
      <h1><span id="result_search"><%= @searched_city %></span></h1>
    </div>
  <div class="container">
    <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
        <div id="wn2"></div>  <!-- google map -->
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 ">
      
            <div class="weather">
             <div class="table">          
  <table class="table text-justify">
    <thead>

      <tr>
        <th></th>
        <th>JAN</th>
        <th>FEB</th>
        <th>MAR</th>
        <th>APR</th>
        <th>MAY</th>
        <th>JUN</th>
        <th>JUL</th>
        <th>AUG</th>
        <th>SEP</th>
        <th>OCT</th>
        <th>NOV</th>
        <th>DEC</th>
      </tr>

    </thead>

    <tbody>

      <tr class="weather-widget">
        <td class="side-header"></td>
        <td><i class="wi wi-day-sunny"></i></td>
        <td><i class="wi wi-day-cloudy"></i></td>
        <td><i class="wi wi-day-rain"></i></td>
        <td><i class="wi wi-day-cloudy-high"></i></td>
        <td><i class="wi wi-day-thunderstorm"></i></td>
        <td><i class="wi wi-day-showers"></i></td>
        <td><i class="wi wi-day-rain-mix"></i></td>
        <td><i class="wi wi-day-haze"></i></td>
        <td><i class="wi wi-day-lightning"></i></td>
        <td><i class="wi wi-day-sleet"></i></td>
        <td><i class="wi wi-day-sunny"></i></td>
        <td><i class="wi wi-day-fog"></i></td>
      </tr>


      <% if @city.daily_mean_temperatures.present? %>
      <tr>
        <td class="side-header">Daily Mean</td>
        <% 12.times.each do |index| %>
          <td class="avg-mean"><%= @city.daily_mean_temperatures.where(month_id:index+1).first.temperature %>&deg;</td>
          <% end %>
      </tr>
      <% end %>

      <% if @city.average_high_temperatures.present?  %>
      <tr>
        <td class="side-header">Avg. High (&deg;C)</td> 
        <% 12.times.each do |index| %>
          <td class="avg-high"><%= @city.average_high_temperatures.where(month_id:index+1).first.temperature %>&deg;</td>
        <% end %>
      </tr>
      <% end %>
    
      <% if @city.average_low_temperatures.present?  %>
      <tr>
        <td class="side-header">Avg. Low (&deg;C)</td> 
      <% 12.times.each do |index| %>
        <td class="avg-low"><%= @city.average_low_temperatures.where(month_id:index+1).first.temperature %>&deg;</td>
        <% end %>
      </tr>
      <% end %>

      <% if @city.average_relative_humidities.present? %>
      <tr>
        <td class="side-header">Humidity</td> 
        <% 12.times.each do |index| %>
          <td class="avg-humidity"><%= @city.average_relative_humidities.where(month_id:index+1).first.percent %>%</td>
          <% end %>
      </tr>
      <% end %>

      <% if @city.average_rainy_days.present? %>
      <tr>
      <td class="side-header">Rainy Days</td> 
        <% 12.times.each do |index| %>
          <td class="avg-precipitation"><%= @city.average_rainy_days.where(month_id:index+1).first.count %></td>
        <% end %>
      </tr>
      <% end %>

    </tbody>
  </table>
  
  <hr>
 <div class="container">
  <span>

    <% if @city.ideal_months.present? %>
    <h5 class="when-to-visit"><i class="fa fa-suitcase"></i> Best Months to Visit:</h5>
    <p class="when-to-visit-months">
      <span id="months">
        <% @city.ideal_months.each do |month| %>
          <%= month.month_id %>&nbsp;
        <% end %>
      </span>
    </p>
    <% end %>
  </span>
  

  
  </div>
  
</div>
</div>
   
    </div>
  </div>
 
    
 
    <div class="city-info text-justify col-md-12 col-sm-12 col-xs-12">
      <div class="row">
          <div class="col-md-4 col-sm-6 col xs-12 city-pad">
           <ul>
           <li><i class="fa fa-plane"></i> Flights From You: <span class="pull-right" id="flight-from-you"><a href="http://www.skyscanner.ca/">Sky Scanner</a></span> </li>
            <li><i class="fa fa-bed"></i>
Hotel Cost: <span class="pull-right">$ <%= sprintf("%.2f", @city.costs.first.hotel) %><small>/day</small></span></li> 
            <li><i class="fa fa-home"></i> Airbnb Apartment: <span class="pull-right">$ <%= sprintf("%.2f", @city.costs.first.airbnb_median) %><small>/night</small></span></li>
            </ul>
          </div>


          <div class="col-md-4 col-sm-6 col xs-12 city-pad">
          <ul>
            <li><i class="fa fa-beer"></i>  Beer (0.5L): <span class="pull-right">$ <%= sprintf("%.2f", @city.costs.first.beer_in_cafe) %></span></li> 
            <li><i class="fa fa-coffee"></i>
Cappuccino: <span class="pull-right">$ <%= sprintf("%.2f", @city.costs.first.coffee_in_cafe) %></span></li> 
            <li><i class="fa fa-glass"></i> Coca-Cola (0.3L): <span class="pull-right">$ <%= sprintf("%.2f", @city.costs.first.non_alcoholic_drink_in_cafe) %></span></li>      
            </ul>
          </div>


          <div class="col-md-4 col-sm-6 col xs-12 city-pad">
                <ul>
                 <li><i class="fa fa-desktop"></i>
Internet Speed: <span class="pull-right"><%= sprintf("%.2f", @city.internet_download_speed) %><small>/MBPS</small></span></li>
                <li><i class="fa fa-wifi"></i>
                Wifi Availability: <span class="pull-right"><%= @city.scores.first.free_wifi_available < 0.5 ? "Bad" : "Good" %></span></li>
           <li><i class="fa fa-glass"></i>
Nightlife: <span class="pull-right"><%= @city.scores.first.nightlife < 0.5 ? "Dull" : "Exciting" %></span></li>

                   
            </ul>
          </div>
        </div>
      </div>
  </div>

    <div class="container">
    <hr>
      <div class="row">
        <% @city.photos.each do |photo| %>        
        <div class="col-md-4 col-sm-6 col xs-12 city-pad">
         <img class ="flickr-set" src="<%= photo.link %>" alt="">
        </div>
        <% end %>
       </div>
      </div>
    </div>
  </div>
<br>
<br>
  <div class="footer">
  <br>
  <br>
  <ul class="social-media">
  <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
  <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
  <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
  </ul>
  <hr class="hr-footer">
  <h4>&copy; Vakanz</h4>
  </div>
</body>
</html>